*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}
.top-main{
    background-color:#1f242d;
    padding: 30px 0px 100px 0px;
}
.navee ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
}
.navee ul a{
    text-decoration: none;
    color:white;
    font-size: 16px;
}
.navee a:hover{
    color: #0ef;
}
.navee{
    align-self: center;
}
.main-nav{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    height: 80px;
}
.nav:hover{
    cursor: pointer;
}
.navee .active{
    color: #0ef;
}
.nav{
    color:#fff;
    font-size: 30px;
    font-weight: 600;
}

/* top content */
.main-content{
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.top-content{
    display: grid;
    justify-content:center;
    width: 80%;
    grid-template-columns: 50% 50%;
}
.about{
   display: flex;
   gap: 20px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.girl-img{
    object-fit: cover;
    width: 400px;
    height: 400px;
    justify-self: end;
    box-shadow: 0 0 20px #0ef;
    border-radius: 50%;
}
.girl-img img{
    clip-path: circle(48%);
}
.abt{
    font-size: 15px;
    color:#fff;
    text-align-last: center;
    line-height: 1.7;
}
.name{
    color: #0ef;
    font-size: 70px;
    font-weight: 600;
}
.tit{
    font-size: 25px;
    color: #fff;
}
.dm{
    color:#1f242d;
    font-weight: 600;
    font-size: 15px; 
    outline: none;
    border: none;
    width:150px;
    height: 50px;
    border-radius: 20px;
    background:#0ef;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #0ef;
}
button:hover{
    cursor: pointer;
}
.main-about{
    background-color:#1d212a;
    display: flex;
    justify-content: center;
    padding: 100px 0px 150px 0px;
}
.aboutme{
    /* border:#0ef 2px solid; */
    display: grid;
    width: 80%;
    grid-template-columns: 45% 50%;
    border-radius:20px;
    padding: 60px 0px 60px 0px;
}
.girl{
    width: 300px;
    height: 300px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.detail{
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detail p{
    font-size: 16px;
    line-height: 1.8;
}
.ab{
    font-size: 18px;
    font-weight: 600;
}
.pd{
    font-size: 30px;
}
.cm{
    color: #1f242d;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    border: none;
    width:150px;
    height: 50px;
    border-radius: 20px;
    background:#0ef;
    box-shadow: 0 0 10px #0ef;
}
.main-skill{
    padding: 100px 0px 100px 0px;
    background-color: #1f242d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
}
.main-skill h4{
    font-size: 25px;
}
.skill{
    display: grid;
    grid-template-columns: repeat(3,26%);
    width: 90%;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px 50px 0px;
}
.box{
    justify-self: center;
    padding: 30px;
    border: 1px solid #0ef ;
    border-radius: 20px;
    transition: transform 0.4s ease;
}
.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px #0ef;
  transition: 0.3s;
}
.box span{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color:#0ef;
}
.box p{
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.main-proj{
    display: flex;
    justify-content: center;
    background-color:#1d212a;
    color: white;
}
.proj{
    padding: 80px 0px 80px 0px;
    display: grid;
    width: 80%;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
.desc{
    align-self: center;
    font-size:15px;
}
.desc span{
    font-size: 30px;
}
.desc p{
    margin: 10px 0px 0px 0px;
    line-height: 1.8;
}
.vid{
    justify-self: center;
}

.view{
    display: flex;
    width: 250px;
    gap: 20px;
}
.view i{
    font-size: 25px;
    color: #0ef;
}
/* education  */
.main-edu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#1f242d;
    padding: 50px 0px 50px 0px;
}
.ed{
    font-size: 25px;
    justify-self: center;
    color: white;
    font-weight: 600;
}
.educat{
    padding: 80px 0px 80px 0px;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,26%);
    justify-content: space-between;
}
.sch,.clg,.hub{
    padding: 20px;
    background-color:#0ef;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
}
.sch:hover{
    background: linear-gradient(rgba(75, 76, 77, 0.9), rgba(229, 229, 231, 0.9)),url('./img/school.png');
    border: #0ef solid 2px;
    background-size: cover;
    background-position: center;
    color:#1f242d;
}
.clg:hover{
    border: #0ef solid 2px;
    background: linear-gradient(rgba(75, 76, 77, 0.9), rgba(229, 229, 231, 0.9)),url('./img/clg.jpeg');
    background-size: cover;
    background-position: center;
    color:#1f242d;
}
.hub:hover{
    background: linear-gradient(rgba(75, 76, 77, 0.9), rgba(229, 229, 231, 0.9)),url('./img/alo.jpeg');
    color:#1f242d;
    background-size: cover;
    background-position: center;
    border: #0ef solid 2px;
}

/* footer */
.cont{
    background-color: #1d212a;
}
.iconss{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.iconss span{
    width: 30px;
    height: 30px;
    border: 2px solid #0ef;
    padding: 8px;
    border-radius: 50%;
}
.iconss span:hover{
    cursor: pointer;
    background-color: #0ef;
    box-shadow: 0 0 20px #0ef;
}
.iconss span:hover i{
    color: #1f242d;
}
.iconss span i{
    font-size: 15px;
    color:#0ef;
}
.call{
    padding: 50px 0px 50px 0px;
}


/* media query  */
@media (min-width: 1201px) and (max-width: 1440px) {

    .proj {
        width: 85%;
        grid-template-columns: 55% 45%;
        padding: 70px 0;
        gap: 35px;
    }

    .vid video {
        width: 100%;
        max-width: 550px;
    }

    .desc span {
        font-size: 30px;
    }

    .desc p {
        font-size: 15px;
        line-height: 1.7;
    }

    .view {
        width: 240px;
        gap: 20px;
    }

    .view i {
        font-size: 24px;
    }

}

@media (min-width:1024px) and (max-width:1201px){
    .navbar{
        width: 90%;
    }
    .top-content{
        width: 90%;
    }
    .abt{
        text-align-last: center;
    }
    .about{
        gap: 15px;
    }
    .aboutme{
        width: 90%;
    }
     .proj {
        width: 90%;
        grid-template-columns: 55% 45%;
        padding: 60px 0;
        gap: 30px;
    }

    .vid video {
        width: 100%;
        max-width: 500px;
    }

    .desc span {
        font-size: 28px;
    }

    .desc p {
        font-size: 14px;
        line-height: 1.7;
    }

    .view {
        width: 220px;
        gap: 18px;
    }

    .view i {
        font-size: 22px;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .navbar{
        width: 95%;
    }
    .top-content{
        width: 95%;
        grid-template-columns: 50% 50%;
    }
    .navee ul a{
        font-size: 14px;
    }
    .abt{
        text-align: center;
        text-align-last: center;
    }
    .tit,.abt{
        font-size: 15px;
    }
    .name{
        font-size: 30px;
    }
    .about{
        gap: 35px;
    }
    .aboutme{
        width: 95%;
        grid-template-columns: 50% 50%;
    }
    .skill{
        grid-template-columns: 50% 50%;
    }
    @media (min-width: 768px) and (max-width: 1024px) {

    .proj {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 60px 0;
        gap: 40px;
        text-align: center;
    }

    .vid video {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .desc {
        font-size: 14px;
    }

    .desc span {
        font-size: 26px;
    }

    .view {
        margin: 0 auto;
        width: 220px;
        gap: 18px;
        justify-content: center;
    }

    .view i {
        font-size: 22px;
    }
}

}
@media (min-width:426px) and (max-width:768px){
    .top-content{
        grid-template-columns: 100%;
        margin: 20px 0px 0px 0px;
    }
    .navee{
        display: none;
    }
    .aboutme{
        grid-template-columns: 100%
    }
    .skill{
        grid-template-columns: 50% 50%;
    }
    @media (min-width: 426px) and (max-width: 768px) {

    .proj {
        width: 90%;
        grid-template-columns: 1fr; /* Single column layout */
        padding: 50px 0;
        gap: 35px;
        text-align: center;
    }

    .vid video {
        /* width: 90%; */
        /* max-width: 500px; */
        margin: 0 auto;
    }

    .desc {
        font-size: 13px;
    }

    .desc span {
        font-size: 24px;
    }

    .view {
        margin: 0 auto;
        width: 200px;
        gap: 15px;
        justify-content: center;
    }

    .view i {
        font-size: 20px;
    }
}

}
@media (max-width:426px){
    .navee{
        display: none;
    }
    .top-content{
        grid-template-columns: 100%;
    }
    .girl-img{
        width: 250px;
        height: 250px;
        align-self: center;
        justify-self: center;
    }
    .name{
        font-size: 30px;
    }
    .nav{
        display: none;
    }
    .aboutme{
        grid-template-columns: 100%;
    }
    .girl{
        width: 250px;
        height: 250px;
    }
    .vid video{
        width: 200px;
    }
    .skill{
        grid-template-columns: 90%;
    }
    @media (max-width: 426px) {

    .proj {
        width: 95%;
        grid-template-columns: 1fr; /* Single column layout */
        padding: 40px 0;
        gap: 25px;
        text-align: center;
    }

    .vid video {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }

    .desc {
        font-size: 12px;
    }

    .desc span {
        font-size: 20px;
    }

    .desc p {
        line-height: 1.6;
    }

    .view {
        margin: 0 auto;
        width: 180px;
        gap: 12px;
        justify-content: center;
    }

    .view i {
        font-size: 18px;
    }
}

}